* {
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    gap: 45px;
}

.firstHeader_div {
    display: flex;
    gap: 50px;
    width: 100%;
}

.secondHeader_div {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 10px;
}

.lecture_container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}


.lecture {
    font-size: 20px;
    font-weight: bold;
}

.lecturer_container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}


.lecturer {
    font-size: 20px;
    font-weight: bold;
}
.Course_container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}


.Course {
    font-size: 20px;
    font-weight: bold;
}

.search_container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.searchText {
    font-size: 20px;
    font-weight: bold;
}

.addStudent_container {
    display: flex;
    text-align: center;
    justify-self: flex-end;
    flex-direction: column;
    gap: 10px;
}

.addStudent {
    font-size: 20px;
    font-weight: bold;
}

